<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">年龄</th>
            <th scope="col">地址</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">5</th>
            <td>小红</td>
            <td>26</td>
            <td>@123</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>小绿</td>
            <td>4555</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry</td>
            <td>the</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</body>
</html>